.navbar {
  @apply py-3 my-3 px-6;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    @apply text-base font-normal md:text-xl;
  }

  &__activePage {
    @apply text-xl font-bold md:text-2xl sm:mx-5;
    // color: var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
  }
}
