$color-primary: #29b7e3;
$color-primary--dark: #bb9900;
$color-secondary: blueviolet;

$theme-color: #fff;
$theme-color--dark: #000;

$color-background: #f0f0f0;
$color-card: #fff;
$color-text: black;

$color-background--dark: #222222;
$color-card--dark: #333333;
$color-text--dark: white;
