@mixin shadowBasic {
  box-shadow: 5px 5px 30px #000000;
}

@mixin shadowSmall {
  box-shadow: 5px 5px 15px #0000006e;
}

@mixin cardBasics {
  @include shadowBasic;
  @apply rounded-3xl py-4;

  overflow: hidden;
  background-color: var(--color-card);

  @media (min-width: 1280px) {
    min-height: 80%;
    max-height: 80%;
    height: 80vh;
  }
}

@mixin mainCardBasics {
  @include cardBasics;
  @apply col-span-12 xl:col-span-9;
}

@mixin sideCardBasics {
  @include cardBasics;
  @apply col-span-12 xl:col-span-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1280px) {
    width: 95%;
  }
}

@mixin buttonShade {
  @apply rounded-full my-5 text-lg py-4 px-8 xl:py-2 xl:px-4;
}
