@mixin shadowBasic {
  box-shadow: 5px 5px 30px #000000;
}

@mixin shadowSmall {
  box-shadow: 5px 5px 15px #0000006e;
}

@mixin sideCardBasics {
  @apply col-span-12 lg:col-span-4 rounded-3xl xl:col-span-3 py-4;
  @include shadowBasic;
  background-color: var(--color-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1024px) {
    min-height: 80%;
    width: 90%;
  }
}

@mixin buttonShade {
  @apply rounded-full my-5 text-lg py-4 px-8 lg:py-2 lg:px-4;
}
