@use "/styles/abstracts/index" as *;

.card {
  @apply rounded-lg p-2;
  @include shadowSmall;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--theme-color);
  width: 100%;
  min-height: 100px;

  .card_icon {
    font-size: 2rem;
    margin: 1rem;
    color: var(--color-primary);
  }

  .card__title {
    @apply text-lg font-bold mb-1;
  }

  .card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
