@use "./abstracts" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #{$color-background};
  --color-text: #{$color-text};
  --color-card: #{$color-card};
  --theme-color: #{$theme-color};
  --not-theme-color: #{$theme-color--dark};
  --color-primary: #{$color-primary};
}

[data-theme="dark"] {
  --color-background: #{$color-background--dark};
  --color-text: #{$color-text--dark};
  --color-card: #{$color-card--dark};
  --theme-color: #{$theme-color--dark};
  --not-theme-color: #{$theme-color};
  --color-primary: #{$color-primary--dark};
}

button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-background);
}

@media (min-width: 3800px) {
  html {
    font-size: 2.8rem;
  }
}
