@use "./abstracts" as abstracts;

.container {
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);

  &__card {
    @apply rounded-3xl;
    width: 90%;
    height: 90%;
    display: flex;
    background-color: var(--color-card);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
